<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div style="text-align: center;">Bấm Vào Đây Để Xác Thực Mail</div>
        {{#with data}}
        <a href="{{link}}"> <button>Xác Thực</button></a>
        {{/with}}
    </div>
</body>

</html>